span:hover {
    background-color: #CDC9C9;
    border-radius: 9px;
}

.selectedSentence {
    border: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px; 
}

#selectedWord {
    margin-top: 10px;
    border: 1px;
    border-color: gray;
    border-style: solid; 
    border-radius: 5px; 
}

#regi {
    margin-left: 100px;
}