.post1 {
    word-wrap: break-word;
    word-break: break-all;
    
}

.test {
    color: red;
}

.reading_content {
    
    margin: 10px 4px 10px 4px;
    /*background-color: #CDC9C9; */
}
span:hover {
    background-color: #CDC9C9; 
}

#regi {
    margin-left: 100px;
}