{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} index {% endblock %}



{% block sidebar %}
<div id="sidebar" class="col-md-2">
    <button id="addul" onclick="addul()">添加序列</button>
    <input id="inputul" type="text" name="序列名" value="">
    <div>
        {% for list in order_list %}
            <ui id="order" onclick=""><a href="#">{{ list }}</a>
                {% for reading in readings %}
                    <li class="reading_list" id={{reading.id}} >{{ reading.reading_name }}</li>
                {% endfor %}
            </ui>
        {% endfor %}
    </div>
    
    
</div>
{% endblock %}

{% block reading %}
<div id="reading" class="col-md-5">
   
    
</div>
{% endblock %}

{% block control %}
<div class="col-md-5" id="control">
    <div id="selectSentence">
        <p class="test" id="sentence_test" ></p>
        
        <div>
            <form>
                <!--单词：</br>
                <input type="text" name="word" id="word">
                <br>-->
                短语：</br>
                <input type="text" name="phrase" id="phrase">
                <br>
                词法：</br>
                <input type="text" name="grammar_c" id="grammar_c">
                <br>
                句法：</br>
                <input type="text" name="grammar_j" id="grammar_j">
                <br>
                翻译：</br>
                <input type="text" name="translation" id="translation">
                <br>
                评论：</br>
                <input type="text" name="comment" id="comment">
                <br>
                <input type="button" value="submit" id="submit">
            </form>
            
        </div>
    </div>
    
    
</div>
{% endblock %}
