{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} 首页 {% endblock %}



{% block sidebar %}
<div id="sidebar" class="col-md-2">
    <div id="order_div" class="ui vertical following fluid accordion text menu">       
    </div>

</div>


{% endblock %}

{% block reading %}
<div id="reading" class="col-md-5"> 
</div>
{% endblock %}

{% block control %}
<div class="col-md-5" id="control">
    <div class="selectedSentence">
        <p>句子：</p>
        <p class="sentence"></p>
        <br>
         
        <div id="showSenNotes">
            <p id="phrase"></p>
            <p id="grammar"></p>
            <p id="translation"></p>
        </div>
    </div>

    <div id="selectedWord">
        <p>单词：</p>        
        <p class="word"></p>
        <br>

        <div id="showWordNotes">
            <p id="Chinese"></p>
            <p id="Phonogram"></p>
        </div>
    </div>
    <div class="sentenceForm">
        <form class="form-group">
            短语：</br>
            <textarea rows="3" cols="15" name="phrase" id="phrase" class="form-control" value=""></textarea>
            <br>
            语法：</br>
            <textarea rows="3" cols="15" name="grammar" id="grammar" class="form-control" value=""></textarea>
            <br>
            翻译：</br>
            <textarea rows="3" cols="15" name="translation" id="translation" class="form-control" value=""></textarea>
            <br>
            <input type="button" value="提交句子" id="submit" class="btn btn-default">
        </form>
    </div>
    <div class="wordForm">
        <form>
            中文：</br>
            <input type="text" name="Chinese" id="Chinese" class="form-control" val="">
            <br>
            音标：</br>
            <input type="text" name="Phonogram" id="Phonogram" class="form-control" val="">
            <br>
            <input type="button" value="提交单词" id="submitword" class="btn btn-default">
        </form>
    </div>
    
    
</div>
{% endblock %}

{% block js %}
<script src="../static/run.js"></script>
{% endblock %}
