{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block reading %}

<form>
    序列：<br>
    <input type="text" name="order" id="order" class="form-control" value="">
    <br>
    标题：<br> 
    <input type="text" name="name" id="name" class="form-control" value="">
    <br>
    阅读理解：<br>
    <textarea rows="5" cols="50" class="form-control" id="reading"></textarea>
    <br>
    <input type="button" id="submitreading" class="btn btn-default" value="提交文章">
</form>

{% endblock %}
{% block js %}
<script src="../static/input.js"></script>
{% endblock %}
