{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} 首页 {% endblock %}

{% block content %}
<div id="readings" class="col-md-7">
    <table class="ui celled striped table">
  <thead>
    <tr><th colspan="3">
      reading - id 表
    </th>
  </tr></thead>
  <tbody id="tbody">
  </tbody>
</table>
</div>
<div id="share" class="col-md-6" style="margin-top: 30px">
    用户：</br>
    <input type="text" name="user" class="form-control" val="" id="user">
    </br>
    文章：</br>
    <input type="text" name="readingid" class="form-control" val="" id="reading">
    </br>
    <input type="button" value="分享" id="submitshare">
</div>
{% endblock %}


{% block js %}
<script src="../static/share.js"></script>
{% endblock %}
