{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} 首页 {% endblock %}



{% block content %}
<button onclick="tanchu()">ceshi</button>
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            模态框标题
        </div>
        <div class="image content">
            <div class="image">
            图像可以出现在左边或图标上 
            </div>
            <div class="description">
            描述可以出现在右边
            </div>
        </div>
        <div class="actions">
            <div class="ui button">取消</div>
            <div class="ui button">确定</div>
        </div>
    </div>
{% endblock %}



{% block js %}
<script src="../static/run.js"></script>
{% endblock %}
